{% extends 'base.html' %}
{%block content%}
<h1>Weather Report</h1>
<!--Jinja syntax-->

<h2>Temperature of Istanbul :{{Istanbul}} 'C</h2>
<br />
<h2>Temperature of Tel Aviv :{{Tel_Aviv}} 'C</h2>
<br />
<ul>
  {%for key,value in London.items%}
  <li>London : {{key}} -> {{value}}</li>
  {%endfor%}
</ul>
<br />

{% if user_premium %}
<ol>
  {% for item in Paris %} {%if item < 6 %}
  <li><p>Paris:Too Cold!!</p></li>
  {%else%}
  <li><p>Paris:{{item}}</p></li>
  {%endif%} {% endfor %}
</ol>
{% endif %}
<br />
<br />
<br />
<h2>{{Test | upper}}</h2>
<br />
<br />
<br />
<!-- <h2><a href="{% url 'template_app:index' %}">Go to Index</a></h2> -->
{% endblock %}
